
.vs/fx3productions/FileContentIndex/1869c8c7-8dba-486a-94fd-e7585bf40b55.vsidx
.vs/fx3productions/FileContentIndex/614e484e-e247-4f37-bc60-1fe6e93a4eb0.vsidx
.vs/fx3productions/FileContentIndex/a746d529-8cba-42ec-a3c7-dbe1ac8fbc18.vsidx
.vs/fx3productions/FileContentIndex/aa62ce45-2fd4-40dc-9c37-27e34c1cbab2.vsidx
.vs/fx3productions/v17/.wsuo
.vs/fx3productions/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
